apiPort: 10000
replicaCount: 1
service:
  port: 80
namespace:
  name: demo
  create: true
serviceAccount:
  create: true
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 30
  targetMemoryUtilizationPercentage: 75
ingress:
  tls: true
  host: 'test.local-cluster.internal'
  paths:
    - name: "hello"
      route: "/hello"
  virtualService:
    enabled: true
